/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  padding: 2em;
}

input,
textarea{
  border: 1px solid #22c1ff !important;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 5px #22c1ff !important;
  border: 1px solid #22c1ff !important;
}
